# Copy this file to .env and fill in your teammates' backend URLs
# When running locally, these are the default URLs

VITE_AUTH_URL=http://localhost:5000
VITE_PRODUCT_URL=http://localhost:8000
VITE_ORDER_URL=http://localhost:8001
