# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# -----------------------------
# Virtual environments
# -----------------------------
venv/
env/
.venv/

# -----------------------------
# Environment variables
# -----------------------------
.env
*.env

# -----------------------------
# Flask instance & DB
# -----------------------------
instance/
*.db
*.sqlite3

# -----------------------------
# Migrations cache
# -----------------------------
migrations/__pycache__/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Elasticsearch (IMPORTANT)
# -----------------------------
elasticsearch-*/
elasticsearch-*.tar.gz

# -----------------------------
# Build / dist
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Coverage / testing
# -----------------------------
.coverage
htmlcov/
.pytest_cache/

# -----------------------------
# Misc
# -----------------------------
*.bak
*.tmp
elasticsearch-8.11.0/